<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inventariodtichillan">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".interfaces.Articulo_de_Reserva_pantalla_normal"></activity>
        <activity android:name=".interfaces.Reservas_de_Articulo_pantalla_normal" />
        <activity android:name=".interfaces.Reserva_muestra_qr" />
        <activity android:name=".interfaces.Articulo_muestra_qr" />
        <activity android:name=".interfaces.Pant_lector_QR" />
        <activity android:name=".interfaces.Pant_reserva_resultado" />
        <activity android:name=".interfaces.Pant_articulo_resultado" />
        <activity android:name=".interfaces.Pant_busqueda_filtro_articulo" />
        <activity android:name=".interfaces.Pant_busqueda_filtro_reserva" />
        <activity android:name=".interfaces.Pant_menu" />
        <activity android:name=".interfaces.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>